@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: hwb(0 75% 23%);
	/* color: #6d6666; */
	cursor: auto;
	opacity: 30;
}
button:disabled:hover {
	opacity: 60;
}
#app {
	@apply bg-indigo-100  min-h-[100vh] flex flex-col w-full;
}

.app-footer {
	/* bottom: 0;
	height: 70px;
	position: fixed;
	width: 100%; */
}
